.navbar{
    position: fixed;
    top:0;
    display: flex;
    width: 100%;
    padding:20px;
    justify-content: space-between;
    z-index: 10;
    transition: all ease-in 0.5s;
    height: 24px;
}
.nav_logo{
    position: fixed;
    left:20px;
    object-fit: contain;
    width:100px
}
.nav_avatar{
    position: fixed;
    object-fit: contain;
    width:30px;
    right:20px
}
.nav_bg{
    background:#111;
}